@import "_colors.scss";
@import "_media-queries.scss";

.hero {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding-top: 12em;
    overflow-x: hidden;
    max-width: $screen-md-max;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    @include lt-sm {
        overflow-x: scroll;
    }
    &.controls {
        padding-top: 2em;
        overflow: unset;
        @include lt-md {
            display: flex;
            justify-content: center;
            padding-top: 0.5em;
        }
        .slider-controls {
            display: flex;
            gap: 2em;
            padding-left: 1em;
            padding-right: 1em;
            @include lt-md {
                justify-content: center;
                font-size: 0.8em;
            }
            a {
                cursor: pointer;
                height: 4.375em;
                img {
                    width: 8em;
                    @include lt-md {
                        max-width: 12em;
                    }

                    &.prev {
                        transform: rotate(-180deg);
                        &.removed {
                            animation: none;
                            opacity: 0.4;
                            transform: rotate(-180deg);
                        }
                    }
                    &.removed {
                        opacity: 0.4;
                    }
                }
            }
        }
    }
    .slide {
        scroll-snap-align: start;
        min-width: 100%;
    }
    .container {
        display: flex;
        padding-left: 1em;
        padding-right: 1em;
        align-items: center;
        width: 100%;
        @include lt-md {
            flex-direction: column-reverse;
            font-size: 0.8em;
            align-items: center;
        }
        @include lt-sm {
            font-size: 0.6em;
        }
        .col {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .content {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: flex-start;
                @include lt-md {
                    min-height: 300px;
                    align-items: center;
                }
            }
            @include lt-md {
                align-items: center;
                text-align: center;
            }
            h2,
            p {
                max-width: 90%;
                @include lt-md {
                    width: 100%;
                    max-width: 100%;
                }
            }
            h2 {
                color: $c-primary-accent;
                font-size: 3.875em;
                font-weight: 400;
                line-height: 1em;
            }
            p {
                font-size: 2.125em;
                margin-top: 1em;
            }
            img {
                width: 100%;
                max-width: 560px;
                align-self: flex-end;
                margin-top: 0;
                margin-bottom: auto;
                @include lt-md {
                    align-self: center;
                    max-width: 460px;
                    width: 80%;
                    margin-bottom: 5em;
                }
            }
        }
    }
    .main-cta {
        color: $c-primary-dark;
        background-color: $c-primary-accent;
        text-decoration: none;
        font-size: 1.2em;
        width: 100%;
        max-width: 12em;
        text-align: center;
        min-height: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5em;
        margin-top: 2em;
        text-transform: uppercase;
        font-weight: 500;
        @include lt-md {
            // align-self: center;
            font-size: 1.5em;
        }
    }
    .entry {
        animation: slideIn 1s;
    }
    .highlight {
        color: $c-primary-text;
    }
}
